@model OrganisationX.Models.WorkRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Promo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Promo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumOfComp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfComp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearsAtCurrComp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearsAtCurrComp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearsRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearsRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWorkingYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWorkingYears)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WorkRid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
